@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* REPOSNIVE TASARIMIN CSS KODLARI */

@media (max-width: 414px) {
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #31304D;
        overflow-x: hidden;
        font-family: Arial, sans-serif;
    }
    
    #swansound {
        font-family: "Dancing Script", cursive;
        color: #fff;
        float: left;
        font-size: 30px;
        margin-bottom: 0px;
        margin-right: 50px;
    }
    
    .ustDiv-1 {
        width: 100%;
        border-radius: 10px;
        height: 170px;
        background-color: #161A30;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0 20px;
    }
    
    #logo-3 {
        width: 20%;
    }
    
    .ulmenu {
        float: right;
    }
    
    .ulmenu li {
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    
    .ulmenu li:hover {
        text-decoration: underline;
    }

    a {
        color: white;
        text-decoration: none;
    }
    
    a:hover {
        color: lightgray;
    }
    
    
    .search-box {
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
    }
    
    .search-button {
        padding: 10px;
        background-color: #31304D;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    /* Bura dikkat heeee */
    
    .myList-baslik {
        color: #B6BBC4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        float: left;
        margin-left: 10px;
    }
    
    .anaKutu {

        height: 2200px;
        background-color: #161A30;
        border-radius: 10px;
        margin-top: 30px;
    }

    .anaKutu-List {
        height: 1600px;
        background-color: #161A30;
        border-radius: 10px;
        margin-top: 30px;
    }


    .anaKutu-protest {
        height: 1000px;
        background-color: #161A30;
        border-radius: 10px;
        margin-top: 30px;
    }

    .anaKutu-lists {
        height: 1000px;
        background-color: #161A30;
        border-radius: 10px;
        margin-top: 30px;
    }
    
    .album-foto {
        width: 100px;
        height: 100px;
        margin: 20px;
        float: left;
    }
    
    .sarki-baslik {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 40px;
    }
    
    .pl-sarki {
        float: left;
        width:300px;
        margin-top: 10px;
        background: #fff;
        margin-left: 10px;
    }
    
    
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        float: right;
    }
    
    
    .search-box {
        width: 295px;
        height: 30px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    
    .search-button {
        padding: 7.5px;
        background-color: #5a9;
        color: white;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        cursor: pointer;
    }
    
    
    .search-button:hover {
        background-color: #48a;
    }
    
    
    .highlight {
        background-color: #5a9;
    }
    
    
    .long-content {
        height: 1000px;
        margin-bottom: 20px;
    }

    .album-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #med-cezir-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #med-cezir-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 110px;
        color: #fff;
        font-weight: bold;
    }

    #suspus-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }
    
    #kime-anlatsam-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 70px;
        color: #fff;
        font-weight: bold;
    }

    #alidayi-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #cubuklu-yasar-id{
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 60px;
        color: #fff;
        font-weight: bold;
    }

    #night-witches-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #night-witches-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 60px;
        color: #fff;
        font-weight: bold;
    }

    #onuncukoy-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #bi-minik-mic {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 46px;
        color: #fff;
        font-weight: bold;
    }

    #diken-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #diken-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 42px;
        color: #fff;
        font-weight: bold;
    }

    #istakoz-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #istakoz-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 93px;
        color: #fff;
        font-weight: bold;
    }

    #orhun-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 60px;
        color: #fff;
        font-weight: bold;
    }

    .populer-genres-header {
        color: #B6BBC4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        float: left;
        margin-top: 15px;
        margin-left: 10px;

    }

    .listeler {
        color: #B6BBC4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        float: left;
        margin-top: 15px;
    }

    .muzik-tur-foto {
        height: 115px;
        width: 120px;
        margin: 10px;
        float: left;
        border-radius: 5px;
    }

    .muzik-tur-text {
        float: right;
        color: #ffffff;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 55px;
    }

    .muzik-tur-artists {
        float: right;
        font-size: 11px;
        color: #ccc;
        margin-right: 10px;
        margin-top: 5px;
    }

    .rap-baslik {
        float: right;
        color: #ffffff;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 167px;
    }

    .rap-artists {
        float: right;
        font-size: 11px;
        color: #ccc;
        margin-right: 18px;
        margin-top: 5px;
    }

    .metal-baslik {
        float: right;
        color: #ffffff;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 151px;
    }

    .metal-artists {
        float: right;
        font-size: 11px;
        color: #ccc;
        margin-right: 32px;
        margin-top: 5px;
    }

    .arabesk-baslik {
        float: right;
        color: #ffffff;
        font-size: 25px;
        margin-top: 40px;
        margin-right: 119px;
    }

    .arabesk-artists {
        float: right;
        font-size: 11px;
        color: #ccc;
        margin-top: 5px;
    }

    .top-lists-header {
        color: #B6BBC4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        float: left;
        margin-top: 15px;
        margin-left: 10px;
    }

    .pl-foto {
        height: 120px;
        width: 120px;
        margin: 10px;
        float: left;
        border-radius: 5px;
    }

    .pl-baslik {
        float: left;
        color: #ffffff;
        font-size: 18px;
        margin-top: 50px;
        margin-right: 19px;
    }
    
    .pl-creator {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 148px;
    }

    .pl-tragedya {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 174px;
    }

    .pl-laikatak {
        float: left;
        color: #ffffff;
        font-size: 18px;
        margin-top: 50px;
    }

    .pl-sudis {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 192px;
    }

    .pl-creator-ceza {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 140px;
    }

    .pl-creator-baroo {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 187px;
    }

    .pl-creator-caglar {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 185px;
    }

    .pl-creator-sudis {
        float: left;
        font-size: 11px;
        color: #B6BBC4;
        margin-top: 15px;
        margin-right: 189px;
    }

    .pr-msc {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    .adrenalin {
        font-size: 15px;
        color: #B6BBC4;
        float: left;
        margin-top: 60px;
        margin-left: 10px;
        color: #fff;
        font-weight: bold;
    }

    .alt-kutu {
        width: 100%;
        height: 100px;
        background-color: #161A30;
        border-radius: 10px 10px 0px 0px;
    }

    .alt-buton {
        width: 50%;
        height: 30%;
        background-color: #5a9;
        border-radius: 10px;
        float: right;
        margin-top: 7.5%;
        margin-right: 25%;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-weight: bolder;
    }


    /*---- EGEA İÇİN ----*/

    .anaKutu-egea {
        height: 16000px;
        background-color: #161A30;
        border-radius: 10px;
        margin-top: 30px;
    }

    .sarki-adi {
        font-size: 15px;
        color: #B6BBC4;
        float: left;
        margin-top: 60px;
        margin-left: 10px;
        color: #fff;
        font-weight: bold;
    }

    
}