@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* REPOSNIVE TASARIMIN CSS KODLARI */

@media (max-width: 360px) {
    
    * {
        max-width: 360px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: #31304D;
        overflow-x: hidden;
        font-family: Arial, sans-serif;
    }
    
    #swansound {
        font-family: "Dancing Script", cursive;
        color: #fff;
        float: left;
        font-size: 20px;
        margin-bottom: 70px;
    }
    
    .ustDiv-1 {
        max-width:  100%;
        height: 170px;
        background-color: #161A30;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding: 0 20px;
    }
    
    #logo-3 {
        width: 10%;
    }
    
    .ulmenu {
        display: flex;
        align-items: center;
        list-style: none;
        flex: 1; 
        justify-content: center;
        gap: 30px; 
    }
    
    .ulmenu li {
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    
    .ulmenu li:hover {
        text-decoration: underline;
    }
    
    .search-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .search-box {
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        outline: none;
    }
    
    .search-button {
        padding: 10px;
        background-color: #31304D;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    /* Bura dikkat heeee */
    
    .myList-baslik {
        color: #B6BBC4;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        margin-left: 10px;
        margin-top: 100px;
    }
    
    .anaKutu {

        height: 13000px;
        background-color: #161A30;
        border-radius: 10px;
    }
    
    .album-foto {
        width: 100px;
        height: 100px;
        margin: 20px;
        float: left;
    }
    
    .sarki-baslik {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 60px;
        margin-right: 40px;
    }
    
    .pl-sarki {
        float: left;
        width:300px;
        margin-top: 10px;
        background: #fff;
        margin-left: 10px;
    }
    
    
    .search-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    
    
    .search-box {
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    
    
    .search-button {
        padding: 10px;
        background-color: #5a9;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }
    
    
    .search-button:hover {
        background-color: #48a;
    }
    
    
    .highlight {
        background-color: yellow;
    }
    
    
    .long-content {
        height: 1000px;
        margin-bottom: 20px;
    }

    #med-cezir-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #med-cezir-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 110px;
        color: #fff;
        font-weight: bold;
    }

    #suspus-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #kime-anlatsam-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 70px;
        color: #fff;
        font-weight: bold;
    }

    #alidayi-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #cubuklu-yasar-id{
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 60px;
        color: #fff;
        font-weight: bold;
    }

    #night-witches-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #night-witches-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 60px;
        color: #fff;
        font-weight: bold;
    }

    #onuncukoy-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #bi-minik-mic {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 46px;
        color: #fff;
        font-weight: bold;
    }

    #diken-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #diken-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 42px;
        color: #fff;
        font-weight: bold;
    }

    #istakoz-foto {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 20px;
        float: left;
    }

    #istakoz-id {
        font-size: 15px;
        color: #B6BBC4;
        float: right;
        margin-top: 20px;
        margin-right: 93px;
        color: #fff;
        font-weight: bold;
    }
  }